* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a {
    text-align: center;
    text-transform: uppercase;
    padding: 3%;
}
h1 {
    background-color: #6003C3;
    color: white;
    font-size: 2.7rem;
}

h2, p {
    color: #6003C3;
}

div {
    width: 250px;
    height: 250px;
    margin: 2%;
    border: 7px solid #6003C3;
    border-radius: 5px;
}

#boxes {
    display: flex;
    justify-content: center;
}

#box-one, #box-two, #box-three {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}

#box-one {
    background-color: yellow;
}

#box-two {
    background-color: cyan;
}

#box-three {
    background-color: greenyellow;
}